name: file_picker
description: A package that allows you to use a native file explorer to pick single or multiple absolute file paths, with extension filtering support.
homepage: https://github.com/miguelpruivo/plugins_flutter_file_picker
version: 3.0.4

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
    
  flutter_plugin_android_lifecycle: ^2.0.0
  plugin_platform_interface: ^2.0.0

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.10.0"
  
flutter:
  plugin:
    platforms:
      android:
        package: com.mr.flutter.plugin.filepicker
        pluginClass: FilePickerPlugin
      ios:
        pluginClass: FilePickerPlugin
      web:
        pluginClass: FilePickerWeb
        fileName: _internal/file_picker_web.dart
